@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import "~@flaticon/flaticon-uicons/css/all/all";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #080c3a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #080c3a;
}

.fam {
font-family: 'Mate SC', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Ubuntu', sans-serif;
}

select:disabled{
  opacity: 0.1;
}

input:disabled{
  opacity: 0.1;
}
input:disabled+span {
  opacity: 0.1;
}

input[type=text]+span {
  opacity:0.1;
}

span:disabled{
  opacity: 0.1;
}



.typewriter  {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: transparent; }
}

#hidden_div {
  display: none;
}

#inputBox {
  display: none;
}

#op {
  display: none;
}
.fontFam {
  font-family: 'Lobster Two', sans-serif;
}

.copy-btn {
  position: relative;
    background: #d3d6db;
    padding: 10px;
    font-size: 15px;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.copy-button {
  position: absolute;
  top: 2px;
  right: 10px;
  cursor: pointer;
  color: #fff;
  background: gray;
  border-radius: 0.5em;
  padding: 2px 7px;
}

.copy-button:hover {
  color: #000;
}
